NUXT_DATABASE_URL=postgres://postgres:postgres@127.0.0.1:54322/postgres
NUXT_SUPABASE_SERVICE_ROLE_KEY=
NUXT_TELEGRAM_ENCRYPTION_KEY=
NUXT_TELEGRAM_API_BASE_URL=https://api.telegram.org
NUXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NUXT_PUBLIC_SUPABASE_ANON_KEY=
